<!DOCTYPE html>
<html>
  <head>
    <title>UI MiniApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= yield %>
  </body>
</html>